th {
    color: orange;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.ng2-pdf-viewer-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

.inpStyle {
    font-size: 24px;
    font-weight: bolder;
    color: #FFBC6A;
    background-color: #00305a;
}

.form-control:focus {
    border-color: white !important;
    box-shadow: 0 0 8px white !important;
}

input:read-only {
    background-color: #526779;
}
.ng2-pdf-viewer-container {
    overflow: hidden;
    position: absolute;
   width: 100px;
  }